html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 5px 0 21px;
}

.hidden {
   display: none !important;  
}

button {
    margin: 0 0 15px;
    background: #5abbb8;
    border-radius: 5px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 70%;
    max-width: 682px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.scorePanel {
    text-align: left;
    width: 70%;
    max-width: 682px;
    margin-bottom: 10px;
    display: flex;
}

.scorePanel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.scorePanel .stars li {
    list-style: none;
    display: inline-block;
}

.scorePanel .restart {
    text-align: right;
    cursor: pointer;
    width: 5%;
    padding: 0 5px 0 0;
}

.starContainer {
    display: inline;
    width: 20%;
}

.movesContainer {
    display: flex;
    width: 20%;
}

.movesContainer p {
    margin: 0;
}

.time {
    margin: 0;
    width: 55%;
    text-align: right;
}

/* Style for win message */

.alert {
    position: fixed;
    top: 128px;
    width: 100%;
}

.won {
    width: 250px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.stars {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
}

/* Style for start message */

.startAlert {
    position: fixed;
    top: 128px;
}

.start {
    width: 250px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    text-align: center;
}

/* Breakpoint */
@media only screen and (max-width: 862px) {
    .scorePanel {
        width: 80%;
        max-width: 100%;
    }
    .deck {
        width: 80%;
        max-width: 100%;
        /* min-height: 1000px; */
    }
    /* .deck .card {
    height: 165px;
    width: 165px;
    } */
}

@media only screen and (max-width: 717px) {
    .scorePanel {
        width: 95%;
        max-width: 100%;
    }
    .deck {
        width: 95%;
        max-width: 100%;
        min-height: 0;
        padding: 10px;
    }
    .deck .card {
        height: 18vw;
        width: 18vw;
        margin: 2px;
    }
    .time {
        width: 50%;
    }
    .restart {
        width: 10%;
    }
}
 


